<section class="preference" style="margin: 10px; color: #5cb85c; font-size: 20px">

      <div>
            <!-- <button class="btn btn-success">Room Rent List</button> -->
      </div>

      <div>
            <input type="text" class="form-control" placeholder="Near" ng-model="near">
            <button class="btn btn-success" ng-click="search()">Room Rent List</button>
            <!-- <div class="col-md-3">
                  <input type="text" class="form-control" placeholder="Find" >
            </div>

            <div class="col-md-3">
                  <input type="text" class="form-control" placeholder="Near" >
            </div> -->
      </div>

      <div style="padding: 10px;">

            <ui-gmap-google-map center="map.center" zoom="map.zoom">

              <ui-gmap-window
                show="map.window.show"
                draggable="true"
                coords="map.window.model"
                options="map.window.options"
                closeClick="map.window.closeClick()"
                templateParameter="map.window">
                <div>
                   <div style="font-weight: bold;">{{map.window.model.descript}}</div>
                   <br />
                   <img class="preference" ng-src={{map.window.model.image_url}} />
                   <br />
                   {{map.window.model.rating}}
                </div>
              </ui-gmap-window>

              <ui-gmap-markers
                models="map.markers"
                coords="'self'"
                events="map.markersEvents"
                options="'options'">
              </ui-gmap-markers>

            </ui-gmap-google-map>

          <!-- <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options" events="map.events">

              <ui-gmap-marker ng-repeat="m in map.markers" coords="m.coords" options="m.options" events="marker.events" icon="m.icon" idkey="m.id" click="onClick">
              </ui-gmap-marker>

          </ui-gmap-google-map> -->
      </div>

</section>
